html,

body {
    height: 100%;
}
.mb-3{
    color: coral;
    font-size: larger;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.mb-4 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 100px;
}

.mb-4 img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.top{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.middle{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom{
    margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}